/* Tailwindをインポート */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* グローバルスタイル */
:root {
  --primary-color: #3b82f6;
  --primary-hover: #2563eb;
  --secondary-color: #10b981;
  --secondary-hover: #059669;
  --danger-color: #ef4444;
  --danger-hover: #dc2626;
  --background-color: #f3f4f6;
  --card-background: #ffffff;
  --text-color: #1f2937;
  --text-light: #6b7280;
  --border-radius: 0.5rem;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --special: #3ec6c4;
  --special-hover: #0f8c8c;

  --revers-background-color: #1f2937;
  --revers-text-color: #f3f4f6;
}

:root.dark {
  --background-color: #1f2937;
  --card-background: #374151;
  --text-color: #f3f4f6;
  --text-light: #9ca3af;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5), 0 2px 4px -1px rgba(0, 0, 0, 0.4);

  --revers-text-color: #1f2937;
  --revers-background-color: #f3f4f6;
  --revers-card-background: #ffffff;
}

.reverse-color {
  background-color: var(--revers-background-color);
  color: var(--revers-text-color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

article {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 800px;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  z-index: auto;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0rem;
  background: var(--base-background);
  color: var(--base-color);
}

/* ヘッダースタイル */
header {
  background-image: url('https://api.vrchat.cloud/api/1/file/file_7b9a1b4f-d83e-4f39-83ea-f91b51c93131/1/file');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding: 2rem;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
}

p{
  color: var(--text-color)
}


label{
  color: var(--text-color);
}

pre{
  background-color: var(--background-color);
  color: var(--text-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius);
  z-index: 0;
}

header > * {
  position: relative;
  z-index: 1;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: scale(1.05);
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem;
  padding: 0.6rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
  transform: scale(1.05);
  padding: 0.5rem;
}
.btn-danger {
  background-color: var(--danger-color);
  color: white;
  padding: 0.6rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-danger:hover {
  background-color: var(--danger-hover);
  transform: scale(1.05);
}

.btn-export {
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-export:hover {
  background-color: var(--primary-hover);
  transform: scale(1.05);
}

.btn-import {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.6rem 0.75rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-import:hover {
  background-color: var(--secondary-hover);
  transform: scale(1.05);
}

.btn-select {
  background-color: var(--special);
  font-weight: 1000;
  color: white;
  padding: 1.19rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(1.7);
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-select:hover{
  background-color: var(--special-hover);
  color: white;
  transform: scale(2);
}

.btn-reset {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--special);
  color: var(--text-color);
  border: 1px solid var(--text-light);
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
}

.btn-reset:hover {
  background-color: var(--special-hover);
  color: var(--background-color);
}


a {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



a.lnk-important {
  background-color: var(--danger-color);
  color: white;
}

a.lnk-important:hover {
  background-color: var(--danger-hover);
  transform: scale(1.05);
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
}


/* カードスタイル */
.card {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin-bottom: 1rem;
}

/* ドラッグアンドドロップ */
.dropzone {
  border: 2px dashed #cbd5e1;
  border-radius: var(--border-radius);
  padding: 1rem;
  transition: border-color 0.2s;
}

.dropzone:hover {
  border-color: var(--primary-color);
}

.toggle-dark-mode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--text-light);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 0.5rem;
}

.toggle-dark-mode:hover {
  background-color: var(--text-light);
  color: var(--background-color);
}

.popup {
  position: fixed;
  background-color: var(--card-background);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 1.5rem;
}

/* アニメーション */
@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.transform {
  animation: scaleIn 0.3s ease-out forwards;
}

.transform-leave {
  animation: scaleOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.transform-slide {
  animation: slideIn 0.3s ease-out forwards;
}

.transform-slide-leave {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-disappear {
  animation: disappear 0.5s ease-out forwards;
}

/* テキストの改行を適切に処理 */
.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-line;
}

.description {
  font-size: 0.875rem;
  background-color: var(--background-color);
  color: var(--text-light);
  margin-top: 0.5rem;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100;
  height: 100;
}
