@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

.cherry {
  font-family: 'Cherry Bomb One', cursive;
}

.mainBg {
  min-height: 100vh;
  width: 100%;
  background-image: url('/top.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.card {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  padding: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  background: linear-gradient(to top, #daaca1, #ffa090);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.description {
  font-size: 1.25rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.btn2pick {
  background: #10b981;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1.125rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: background 0.3s, transform 0.2s;
  border: none;
  cursor: pointer;
}
.btn2pick:hover {
  background: #059669;
  transform: scale(1.05);
} 